<strong>Hello, {{ organizer }}</strong>
<p>Your Meet Up {{ meetup }} has a new subscription:</p>
<p>
  <strong>Client: </strong>{{ user }}<br />
  <strong>Email: </strong>{{ email }}<br />
  <br />
</p>
